services:
  server:
    build:
      context: ../..
      dockerfile: crates/server/Dockerfile
      args:
        TARGET: x86_64-unknown-linux-musl
    image: guzmansalv/pulsewire-server:latest
    container_name: guzmansalv-pulsewire-server
    restart: unless-stopped
    environment:
      SERVER_CONFIG_PATH: /app/res/docker.toml
    volumes:
      - ./res:/app/res:ro
    dns:
      - 172.31.0.53
    ports:
      - "8091:8091"
    networks:
      - services
      - dnsnet

networks:
  services:
    external: true
  dnsnet:
    external: true
